{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>DanyLogs Home</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <div class="header">
      {% if user.is_authenticated %}
        <p>Bienvenid@, {{ user.username }} <a href="{% url 'registros:logout' %}">(Cerrar sesión)</a></p>
      {% else %}
        <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
      {% endif %}
    </div>
    {% block content %}
      <div class="col-md-9">
        <h1 class="main-heading">DanyLogs, Tu agenda virtual</h1>
        <div class="search-form">
          <form action="{% url 'registros:busqueda' %}" method="GET">
            <input type="text" name="q" placeholder="Buscar registro...">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>
        </div>
        <h3>Tus últimos 10 registros</h3>
        <ul class="record-list">
          {% for registro in object_list %}
            <li><a href="{% url 'registros:registro_detallado' pk=registro.pk %}">{{ registro.Bache }}</a></li>
          {% endfor %}
        </ul>
        <a href="{% url 'registros:registro_wizard' %}" class="btn btn-primary">Crear nuevo registro</a>
      </div>
    </div>
  </div>
{% endblock %}
  </div>
</body>
</html>
