{% block content %}
  <h1>Registros</h1>

  {% if registros %}
    <h2>Registros seleccionados</h2>
    <ul>
      {% for registro in registros %}
        <li>{{ registro.Bache }} - {{ registro.Fecha }} - {{ registro.Gramos_de_Mora }} gramos de mora</li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Todos los registros</h2>
  <ul>
    {% for registro in object_list %}
      <li>{{ registro.Bache }} - {{ registro.Fecha }} - {{ registro.Gramos_de_Mora }} gramos de mora</li>
    {% empty %}
      <li>No hay registros.</li>
    {% endfor %}
  </ul>
{% endblock %}